html,body {
  background-image:url('https://5.imimg.com/data5/JB/EM/MY-11791301/parchment-paper-500x500.jpg');
  background-size:cover;
  font-family: 'IM Fell DW Pica SC', serif;

}

.timeline {
  height: 100vh;
  background-image: url('../arrow3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-block {
  display: flex;
  margin: 20px;
  margin-left: 0;
  margin-right: 45%;
}

.time-block-right {
  justify-content: flex-end;
  margin-left: 45%;
  margin-right: 0;
}

.time-block a {
  display: inline-block;
}
